<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<main>
  <div class="header">
    <h2> ToDo List </h2>
  </div>

  <div class="task-wrapper">
    <div class="form-div" *ngIf='addNewTask'>
      <div class="col s7 custom">
        <form #addTaskForm="ngForm" (ngSubmit)="onSubmitTask(addTaskForm)" autocomplete="off">
            <p class="title">Add or Edit Task</p>
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="taskService.selectedTask._id">
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="task" type="text" name="task" #task="ngModel" [(ngModel)]="taskService.selectedTask.task" required>
                    <label>Task</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="taskDescription" type="text" name="taskDescription" #taskDescription="ngModel" [(ngModel)]="taskService.selectedTask.taskDescription">
                    <label>Task Description</label>
                  </div>
                </div>

                <div class="buttons">
                  <div class="single-button">
                    <button class="btn" type="button" (click)="resetAddTaskForm()">Cancel</button>
                  </div>

                  <div class="single-button">
                    <button class="btn" type="submit" [disabled]="!task.valid">Submit</button>
                  </div>

                </div>
              </div>
            </div>
        </form>
      </div>
    </div>

    <div class="table-div">
      <h3 class="empty-list-text" *ngIf="taskService.allTasks.length === 0">
        There are no tasks here! Click the add button to create a new task.
      </h3>

      <table class="responsive-table highlight" *ngIf="taskService.allTasks.length != 0">
        <thead>
          <tr>
            <th>Task</th>
            <th>Description</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of taskService.allTasks">
            <td [ngClass]="task.completed == true && 'taskComplete' || 'null'">{{ task.task }}</td>
            <td>{{ task.taskDescription }}</td>
            <td>
              <!-- edit button -->
              <a class="action-btn edit" title="Edit Task">
                <i class="material-icons" (click)="onEditTask(task)">edit</i>
              </a>
              <!-- delete button -->
              <a class="action-btn delete" title="Delete Task">
                <i class="material-icons" (click)="onDeleteTask(task._id)">delete</i>
              </a>
            </td>
            <td>
              <p>
                <label>
                  <input type="checkbox" [checked]="task.completed == true" class="filled-in" (click)="onCheckboxClick(task)"/>
                  <span></span>
                </label>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="add-task">
        <a class="btn-floating" (click)=toggleDisplayDivIf() title="Add new Task"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
</main>

